---
import { getOffre } from '../../backend.mjs';
import Base  from '../../layouts/Base.astro';

const { id } = Astro.params;
const offre = await getOffre(id);
if(!offre){
   return Astro.redirect('/offres');
}
---

<Base titre={offre.nomMaison}>
    <img src={offre.img} alt="/"/>
    <h2>{offre.nomMaison}</h2>
    <ul>
        <li>Prix : {offre.prix}</li>
        <li>Surface : {offre.surface}</li>
        <li>Adresse : {offre.adresse}</li>
        <li>Nombre de chambres : {offre.nbChambres}</li>
        <li>Nombre de salles de bain : {offre.nbSdb}</li>
    </ul>
</Base>